.fx-about{
  margin-top: 80px;
  height: 500px;
  .container-fluid{
    .row{
      justify-content: end;
      .col-lg-6{
        h2{
          margin-bottom: 40px;
        }
      }
      .col-lg-3{
        border: 1px solid $fx-gray;
        padding: 20px 40px 80px;
        &:hover{
          background-color: $fx-gray;
        }
        .fx-btn{
          &.modal-btn{
            position: absolute;
            right: 40px;
          }
        }
      }
    }
    .modal-content{
      background-color: $fx-black;
      .modal-header{
        padding: 40px;
        button{
          color: $fx-text;
          position: relative;
          margin: -40px -40px 0;
        }
      }
      .modal-body{
        padding: 40px;
      }
    }
  }
}