.fx-banner{
  position: relative;
  height: 100%;
  width: 100%;
  top: -80px;
  background-image: url('../../assets/img/fx-banner__bg.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-size:contain;
  padding-top: 180px;
  margin-bottom: 60px;
  
  p{
    margin: 40px 0 50px;
    width: 90%;
  }
  
  &__img{
    position: absolute;
    top: -40px;
    right: -25%;
    z-index: -5;
  }
}