body {
  background-color: $fx-black;
  color: $fx-text;
}

.container-fluid {
  max-width: 1220px;
}

.fx-link {
  position: relative;
  color: $fx-text;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: $fx-green;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  &:hover{
    color: $fx-green;
    text-decoration: none;
    &::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}

.fx-btn {
  &.outline{
    border: 2px solid $fx-green;
  color: $fx-green;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-decoration: none;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 1;

  svg{
    margin-left: 10px;
  }
  
  &::after{
    background-color: $fx-green;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-50%, 50%) rotate(10deg);
    transform-origin: top left;
    transition: .2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
    
  &:hover{
    &::after{
    transform: translate(0, 0);
    }
  }
    
  &:hover{
    border: 2px solid transparent;
    color: $fx-black;
    transform: scale(1.05);
    will-change: transform;
    text-decoration: none;
  }
  }

  &.modal-btn{
  background-color: transparent;
  padding: 0;
  color: $fx-green;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;

  svg{
    width: 40px;
    height: 40px;
  }
  &:hover{
    color: $fx-green-light;
  }
  }

  &.text-btn{
    color: $fx-text;
    font-weight: 700;
    font-size: 16px;
    outline: none;
    text-decoration: none;

    svg{
      margin-left: 10px;
    }

    &:hover{
      color: $fx-text-dark;
    }
  }
}
